/Color_detection/main
/Face_detection/venv
/Poisonous-mushrooms_Kaggle/data
/Dog-cat-classification/data
/Dog-cat-classification/animal
/Dog-cat-classification/yolov8n-cls.pt
/Dog-cat-classification/custom_img.jpg
/Welding-defect-detection/data
/Welding-defect-detection/yolov8n.pt